.myOrder {
  background-color: #283546;
  border-radius: 1rem;
  padding: 0.8rem;
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 35% 65%;
}

.myOrder .minesweeper-game-2x2 {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;
  margin-top: 0rem;
}

.myOrder .minesweeper-game-2x2 div {
  background-color: #3d5474;
  height: 70px;
  border-radius: 0.7rem;
  position: relative;
}

.myOrder .minesweeper-game-4x4 {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5rem;
  margin-top: 2rem;
}

.myOrder .minesweeper-game-4x4 div {
  background-color: #4ca9e2;
  height: 110px;
  border-radius: 1rem;
  position: relative;
}



.myorder-text {
    margin-left: 1rem;
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

@media screen and (max-width: 550px) {
  .myOrder .minesweeper-game-2x2 div {
    height: 50px;
  }
  
}