.invite__page__nav {
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 5%;
  position: fixed;
  z-index: 100000000;
}


.invite__balance__section {
  height: 75px;
  width: 100%;
  padding: 0;
  z-index: 10000;
  position: relative;
}

.invite__balance__section__box {
  height: 75px;
  width: 100%;
  background: #fff;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  align-items: center;
  padding: 0 7%;
  justify-content: space-between;
}

.invite__balance__section__box__left__top {
  font-size: 13px;
  color: rgb(0, 7, 82);
  font-weight: 500;
}

.invite__balance__section__box__left__bottom {
  font-size: 20px;
  font-weight: 600;
}

.referral__balance__transfer__btn {
  border: 0;
  height: 45px;
  padding: 0 20px;
  border-radius: 30px;
  background: #2f00c9;
  color: #fff;
  font-weight: 500;
  font-size: 17px;
  cursor: pointer;
}

.invitePageMenuOptions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  margin-top: 10px;
}

.invitePageMenuCol {
  flex-basis: calc(100% / 3);
  width: 100%;
  cursor: pointer;
}

.invitePageBottom {
  padding: 15px 0;
}

.invitePageBottomBottom {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.invitePageBottomBottomCols {
  flex-basis: 50%;
  width: 100%;
}

.invitePageBottomColTop {
  font-size: 12px;
  color: #dadada;
}

.invitePageMostBottom {
  font-family: sans-serif;
  font-size: 12px;
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.invitePageBottomColBottom {
  color: #fff;
}

.invitePageIncomeDetails {
  padding: 15px 0;
}

.invitePageIncomeDetailsTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
}

.invitePageIncomeDetailsTopRight {
  font-size: 13px;
  color: #dbdbdb;
}

.invitePageIncomeDetailsBottom {
  color: #fff;
}

.invitePageMostBottom img {
  margin-left: 7.5px;
}