.bottom-nav {
  position: fixed;
  bottom: 1rem;
  background-color: #071724;
  width: 450px;
  bottom: 0;
  right: 50%;
  transform: translate(50%);
  height: 60px;
  z-index: 1000;
  -webkit-backdrop-filter: blur(40px);
  backdrop-filter: blur(40px);
  background: rgba(0, 0, 0, 0.2);
  background-blend-mode: overlay;
  bottom: 0;
}

.nav {
  width: 100%;
  height: 100%;
  padding-bottom: 0 !important;
}

.bottom-nav ul {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.bottom-nav ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.bottomBar__col__icon {
  font-size: 25px;
  margin-top: 4px;
}

.bottomBar__col__name {
  font-size: 13px;
  margin-top: -8px;
}

.nav-link a {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: rgb(119, 119, 119);
}

.nav-link p {
  font-size: 12px;
  padding-top: 5px;
  font-weight: 500;
}

.active-link a {
  transition: all 0.3s ease-in-out;
  color: rgb(252, 255, 255);
}

@media screen and (max-width: 800px) {
  .nav-link a {
    cursor: default;
  }

  .bottom-nav {
    width: 100%;
    right: 0;
    bottom: 0;
    left: 0;

    transform: translate(0);
  }
}

@media screen and (max-width: 520px) {
  .nav-link i {
    font-size: 1.3rem;
  }

  .nav-link p {
    font-size: 12px;
  }
}
