.minesweeper-container {
  color: #fff;
  width: 450px;
  margin: auto;
  padding-bottom: 2rem;
}

.hide {
  display: none !important;
}

.minesweeper-container h2 {
  font-weight: 400;
  text-align: center;
}

.minesweeper-ratio {
  display: flex;
  gap: 1rem;
  margin-top: 1.5rem;
}

.minesweeper-ratio button {
  padding: 3px 1rem;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 8px;
  border: none;
  background: none;
  color: #feaa74;
  cursor: pointer;
}

.minesweeper-ratio button:focus {
  outline: none;
}

.minesweeper-ratio-active {
  background-color: #feaa74 !important;
  color: black !important;
}

.minesweeper-game {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  margin-top: 2rem;
}

.minesweeper-game-2x2 {
  width: 100%;
  aspect-ratio: 1/1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  /* margin-top: 2rem; */
}

.minesweeper-game-2x2 div {
  background-color: #4ca9e2;
  border-radius: 1rem;
  position: relative;
  aspect-ratio: 1/1;
  width: 100%;
}

.minesweeper-game-4x4 {
  width: 100%;
  margin: auto;
  aspect-ratio: 1/1;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5rem;
  /* margin-top: 2rem; */
}

.minesweeper-game-4x4 div {
  background-color: #4ca9e2;
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 1rem;
  position: relative;
}

.minesweeper-game button {
  position: absolute;
  border-radius: 50%;
  border: none;
  width: 7.5rem;
  height: 7.5rem;
  background: linear-gradient(
    to right bottom,
    rgb(255, 185, 9),
    rgb(254, 64, 45)
  );
  font-size: 1.3rem;
  font-weight: 500;
  cursor: pointer;
}

.minesweeper-game button:focus {
  outline: none;
}

.minesweeper-bonus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1.5rem;
}

.minesweeper-bonus p:first-child {
  color: #dee3e8;
  font-size: 14px;
}
.minesweeper-bonus p:last-child {
  font-weight: 500;
  font-size: 17px;
}

.minesweeper-bonus button {
  border: none;
  padding: 0.7rem 1rem;
  background-color: #e8f3d5;
  font-weight: 500;
  border-radius: 0.5rem;
}

.minesweeper-note {
  margin-top: 1rem;
}


.minnig {
  background-color: #fff;
  border-radius: 2rem;
  width: 100%;
  height: 100%;
}

.mine-myorder {
  background-color: #283546;
  border-radius: 1rem;
  padding: 0.8rem;
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 35% 65%;
}

.mine-myorder .minesweeper-game-2x2 {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;
  margin-top: 0rem;
}

.mine-myorder .minesweeper-game-4x4 {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5rem;
  margin-top: 0rem;
}

.mine-myorder .minesweeper-game-2x2 div {
  background-color: #3d5474;
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 0.7rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mine-myorder .minesweeper-game-4x4 {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.1rem;
}

.mine-myorder .minesweeper-game-4x4 div {
  background-color: #3d5474;
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 0.3rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.myorder-text {
  display: grid;
  grid-template-columns: 33% 33% 33%;
}

@media screen and (max-width: 520px) {
  .minesweeper-container {
    width: 94%;
  }

  .minesweeper-game button {
    width: 6.5rem;
    height: 6.5rem;
  }
}

@media screen and (max-width: 483px) {
  .mine-myorder .minesweeper-game-2x2 {
    gap: 0.3rem;
  }
}

@media screen and (max-width: 370px) {
  .mine-myorder {
    background-color: #283546;
    border-radius: 1rem;
    padding: 0.8rem;
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 35% 75% !important;
    overflow-x: hidden;
  }

  .myorder-text {
   padding-right: 1rem;
}
}
