.profile-container {
    padding-top: 2rem;
    padding-bottom: 7rem;
    height: auto;
}


.uid-card {
    background: linear-gradient(to bottom right, #ffdcaa, #fedba5);
    display: flex;
    align-items: center;
    border-radius: 1rem;
    padding: 1.2rem 1rem;
    justify-content: space-between;
}

.uid-card a {
    margin-right: 2rem;
    color: #000000;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 17px;
    transition: all 0.3s ease-in-out;
}

.uid-card a:hover{
    color: #252525;
}

.uid-detail {
    font-weight: 500;
    font-size: 15px;
    color: #323232;
}

.user-details-item {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    color: #fff;
    justify-content: space-between;
}

.user-details-item .icon {
    background: linear-gradient(to right bottom, rgb(255, 185, 9), rgb(254, 64, 45));
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    color: #000;
}

.user-details-item h2 {
    font-size: 1.25rem;
    font-weight: 500;
}

.user-details-item p {
    color: #ffffffd0;
    font-size: 14px;
}

.user-details h3 {
    color: #fff;
    margin-top: 2.5rem;
    margin-bottom: -15px;
    font-weight: 500;
    font-size: 1.1rem;
}


@media screen and (max-width: 520px) {
    .uid-card {
        
        padding: 0.8rem 1rem;
    }
    
    .user-details-item {
        margin-top: 1.6rem;
    }
    
    .user-details-item .icon {
        width: 45px;
        height: 45px;
        border-radius: 50%;
        font-size: 1.1rem;
    }
    
    .user-details-item h2 {
        font-size: 1.1rem;
    }
    
    .user-details-item p {
        font-size: 13px;
    }
    
    .user-details h3 {
        margin-top: 2.2rem;
        margin-bottom: -10px;
        font-size: 1rem;
    }
    
    .user-details-item .fa-chevron-right {
        font-size: 13px;
    }

    .uid-card img {
        width: 50px;
    }
  }