.commission-card {
    background-color: #283546;
    margin-top: 1rem;
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .commission-card .info {
    display: flex;
    gap: 1.5rem;
    align-items: center;
  }

  .commissioncard .info p:first-child {
    text-transform: capitalize;
    margin-bottom: 0.5rem;
  }


  .commission-card .amount{
    font-weight: 600;
    font-size: 1.05rem;
  }


  .invitePageIncomeBox {
    width: 100%;
    padding: 10px 3%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.invitePageIncomeBoxLeft {
  display: flex;
  align-items: center;
}

.invitePageIncomeBoxIcon {
  height: 50px;
  width: 50px;
  border-radius: 50px;
  background: #f0f0f0;
}

.invitePageIncomeBoxLeftRight {
  margin-left: 10px;
}

.invitePageIncomeDetailBottom {
  margin-top: 5px;
}

.invitePageIncomeTime {
  color: #aaa;
  font-size: 13px;
}